
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

/* menu */
.navlink {
    display: flex;
    width: 90%;
    margin: auto 0;
    padding: 20px;
    position: relative;
    justify-content: space-around;

}

.navlink ul {
    list-style: none;
    padding-top: 20px;
}

.navlink li {
    display: inline-block;

}

.navlink li a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
}

.navlink li a:hover {
    color: white;
    background: black;
    border-radius: 20px;
}

.navlink button a {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-size: 1rem;
}

.navlink button {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin-top: 10px;
    background-color: yellowgreen;
}

.conten {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sp {
    flex: 25%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.name-sp {
    width: 60%;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    overflow: clip;
    max-height: 50px;
}

.gia {
    margin-top: 5px;
}

.gia .gia-that {
    font-size: 1rem;
    color: #ee4d2d;
}

.gia-ao {
    color: rgba(0, 0, 0, .54);
    text-decoration: line-through;
    margin-right: 5px;
}

.danhgia {
    display: flex;
    margin-top: 5px;
}

.danggia-item {
    margin-right: 10px;
}
.gg{
    width: 60%;
    margin: auto;
}